/*Body*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.font-sans {
  font-family: "Poppins", sans-serif;
}

.font-mono {
  font-family: "Covered By Your Grace", cursive;
}

body {
  background-color: #000000;
  margin: 0;

  background-image: url(./assets/blackbg.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*   NAVBAR   */
/*   NAVBAR   */
/*   NAVBAR   */

#navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 70px;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  background: #000000;

  /* border: 2px solid blue; */
}

.logo img {
  max-width: 5.5rem;
  justify-self: flex-start;
  position: fixed;
  left: 1.5rem;
  top: 0;
  z-index: 10;
}

nav .menuIcon {
  padding: 24px;
  /* margin-right: 24px; */
  position: relative;
  cursor: pointer;
  z-index: 11;
  transition: all 0.5s ease-out;
  display: block;
  right: -5rem;

  /* border: 2px solid blue; */
}

/* Hamburger */

nav .navIcon {
  background: #ffffff;
  display: block;
  height: 2px;
  width: 18px;
  transition: background 0.2s ease-out;
  position: relative;
}

nav .navIcon::before {
  content: "";
  background: #ffffff;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  top: 6px;
  transition: all 0.4s ease-out;
}

nav .navIcon::after {
  content: "";
  background: #ffffff;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  top: -6px;
  transition: all 0.4s ease-out;
}

nav .toggle {
  display: none;
}

.navLinks ul {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -0.75rem;
  transition: opacity 500ms ease-in;
  transition-delay: 200ms;

  font-size: 1.3rem;
  letter-spacing: 2px;
}

.navLinks ul {
  opacity: 0;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

.navLinks ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.navLinks ul li a {
  display: block;
  color: #000000;
  font-size: 1.5rem;
  margin-top: 1.5%;
  margin-left: 3rem;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}

.navLinks ul li a:hover {
  color: rgb(4, 0, 255);
}

.navLinks ul li a:active {
  color: rgb(18, 75, 26);
}

.navLinks {
  background-color: rgb(251, 255, 0);

  width: 100%;
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 9;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Nav Toggle */

nav #toggle:checked ~ .navLinks ul {
  opacity: 1;
}

nav #toggle:checked ~ .menuIcon {
  transform: rotate(180deg);
}

nav #toggle:checked ~ .menuIcon .navIcon {
  background-color: transparent;
}

nav #toggle:checked ~ .menuIcon .navIcon:before {
  transform: rotate(45deg);
  top: 0;
}

nav #toggle:checked ~ .menuIcon .navIcon:after {
  transform: rotate(-45deg);
  top: 0;
}

nav #toggle:checked ~ .navLinks {
  display: block;
  max-height: 230px;
  visibility: visible;
}

/*   MAIN CONTENT   */
/*   MAIN CONTENT   */
/*   MAIN CONTENT   */

#maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 69px;

  width: 100vw;
  height: 100%;

  /* border: 5px solid limegreen; */
}

main > * {
  width: 100%;
}

/*   HOME   */
/*   HOME   */
/*   HOME   */

#home {
  color: #ffffff;
  max-width: 100%;
  height: 85vh;

  display: grid;
  place-items: center;
  align-content: center;
  margin: 0;
  /* padding: 10r; */

  /* border: 5px solid red; */
}

.sgglogo {
  margin: 0;
  max-width: 100%;
}

.sggtext {
  margin-top: -1rem;
  /* width: 100%; */
  /* border: 3px solid yellow; */
}

.subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  /* border: 3px solid yellow; */
  white-space: nowrap;
}

/*    LISTEN    */
/*    LISTEN    */
/*    LISTEN    */

#listen {
  background-color: transparent;
  /* background-image: url(./assets/paperbg.png); */
  background-size: cover;
  padding: 2rem 5rem 2rem 5rem;

  display: grid;

  color: #000000;
  text-align: center;
}

#listen h1 {
  margin: 5rem auto 2rem auto;
  font-size: 3rem;
}

.latestep h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.spotify-embed {
  padding: 0 10rem 0 10rem;
  margin: 0 5rem 3rem 5rem;
}

.popularep h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.popeps ul {
  list-style-type: none;
  padding: 0 5rem 0 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.popeps li {
  width: 200px;
  height: 200px;
  margin-bottom: 3rem;
  margin-inline: 2rem;
}

.pod {
  position: relative;
}

.pod .pod-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgb(143, 142, 142);
}

.pod .pod-overlay {
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
}

.pod .pod-overlay:hover {
  opacity: 0.8;
  border-radius: 8px;
}

.release-date {
  font-size: 0.8em;
}

.pod-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}

.channels ul {
  list-style-type: none;
  padding: 0 5rem 0 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}

.chan {
  margin: 0 1rem 2rem 1rem;
  /* padding-inline: 1rem; */
  display: grid;
  transition: transform 250ms ease-in-out, background-color 250ms linear;
}
.chan:hover,
.chan:focus {
  transform: scale(1.1);
}

/*   VIDCAST   */
/*   VIDCAST   */
/*   VIDCAST   */

#vidcast {
  background-color: transparent;
  background-size: contain;
  /* background-repeat: no-repeat; */
  padding: 2rem 5rem 5rem 5rem;

  display: grid;

  color: #ffffff;
  text-align: center;
  text-shadow: 5px 5px 20px #000000;

  /* border: 3px solid limegreen; */
}

#vidcast h1 {
  margin: 2rem auto 2rem auto;
  font-size: 3rem;
}

.playlist {
  position: relative;
  padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
  /* padding-bottom: 62.5%; - 16:10 aspect ratio */
  /* padding-bottom: 75%; - 4:3 aspect ratio */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-inline: 4rem;

  /* border: 2px solid limegreen; */
  border-radius: 20px;

  display: grid;
  place-items: center;
}

.playlist iframe,
.playlist object,
.playlist embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*   MORE   */
/*   MORE   */
/*   MORE   */

#more {
  background-color: transparent;
  background-size: contain;
  background-image: url(./assets/sgg2.jpg);
  background-repeat: repeat;
  /* height: 35rem; */
  padding: 2rem 2rem 2rem 5rem;

  display: grid;

  color: #ffffff;
  text-align: center;
  text-shadow: 5px 5px 20px #000000;

  /* border: 3px solid limegreen; */
}

#more h1 {
  margin: 2rem auto 2rem auto;
  font-size: 3rem;
}

.meetgang {
  background: rgb(0, 0, 0, 0.7);
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border-radius: 10px;

  text-align: left;
}

.thegang {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/*   FOOTER   */
/*   FOOTER   */
/*   FOOTER   */

footer {
  width: 100%;
  position: sticky;
  top: 100%;
  bottom: 0;
  left: 0;
  background: #000000;
}

.content {
  max-width: 100%;
  margin: auto;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content p,
a {
  color: #fff;
  font-size: 0.8rem;
}

.box {
  width: 25%;
  transition: all 0.4s ease;
}

.content h2 {
  color: rgb(251, 255, 0);
  font-size: 1.5rem;
}

/* Specifics */

/* LEFT */

.upper {
  /* border: 2px solid red; */
  padding: 1rem;
  justify-content: center;
}

.upper p {
  text-align: left;
}

.footerlogos {
  display: flex;
  margin-bottom: 1rem;
}

.footerlogos img {
  min-width: 0;
}

.media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-grid;
  justify-content: space-around;
  place-items: center;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  border: 2px solid #222222;
  margin: 15px 2px 2px 2px;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  border-color: rgb(251, 255, 0);
}

/* PATREON */

.middle {
  padding: 1rem;
  place-items: center;
  text-align: center;
}

.middle p {
  margin-top: 1rem;
  text-align: center;
}

.patreonlogo a {
  font-size: 2rem;
  width: 5rem;
  aspect-ratio: 1;
  display: inline-grid;
  justify-content: space-around;
  place-items: center;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  border: 2px solid #222222;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.patreonlogo a:hover {
  border-color: rgb(251, 255, 0);
}

/* NEWSLETTER */

.right {
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.right p {
  margin-top: 1rem;
}

.right input[type="text"] {
  margin-top: 1rem;
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

.right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #000000;
  background: rgb(251, 255, 0);
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid rgb(251, 255, 0);
  transition: all 0.3s ease-in-out;
}

.right input[type="submit"]:hover {
  background: none;
  color: rgb(251, 255, 0);
}

/* RIGHT */

.bunklast {
  padding: 1rem;
  justify-content: center;
  text-align: right;
}

.bunkround {
  display: flex;
  height: 6rem;
  justify-content: right;
}

.bunkround img {
  min-width: 0;
  border-radius: 50%;
}

.bunklast p {
  margin-top: 1rem;
}

/* BOTTOM */

.bottom p {
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 5px 0 5px 0;
}

.bottom a {
  color: rgb(251, 255, 0);
}

@media (max-width: 1100px) {
  .spotify-embed {
    padding: 0 5rem 0 5rem;
  }
}

@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }

  .spotify-embed {
    padding: 0 5rem 0 5rem;
  }
}
@media (max-width: 800px) {
  footer {
    display: flex;
    position: relative;
  }
  .content .box {
    width: 100%;
    margin-top: 1rem;
  }

  .footerlogos {
    display: flex;
  }

  footer .content .middle {
    padding-left: 1rem;
  }

  #listen {
    background-color: transparent;
    background-image: url(./assets/paperbg.png);
    background-size: cover;
  }
}
